{
  "files_heroku": ["heroku.xlsx"],
  "file_appen": "appen.csv",
  "data_file": "data.mat",
  "files_heroku_lab": ["heroku_lab.xlsx"],
  "file_appen_lab": "appen_lab.csv",
  "data_file_lab": "data_lab.mat",
  "estimated_annoyance": "estimated_annoyance.mat",
  "mapping": "data/mapping.xlsx",
  "path_output": "/_output",
  "path_figures": "/figures"
}