<!doctype html>
<html>
  <head>
    <title>Videos of animations of driving</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="jsPsych/jspsych.js"></script>
    <link href="jsPsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    <link href="css/experiment.css" rel="stylesheet" type="text/css"></link>
    <link rel="icon" type="image/png" href="/img/favicon.png" />

  <script>
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
    };
  </script>

  </head>
  <body>
    <div class = "parent">
      <div class = "child">
        <div id="jspsych_target">
          <p>
            You have now completed the experiment. Thank you for your participation. Please proceed back to Prolific by clicking <a href="https://app.prolific.co/submissions/complete?cc=C1BHU3XG">here</a>.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>